In [1]:
import pandas as pd

In [2]:
# load metadata
metadata = pd.read_csv( '../data/2010/age-groups-and-sex-census-DEC_10_SF1_QTP1/DEC_10_SF1_QTP1_metadata.csv' )

In [29]:
metadata.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 289 entries, 0 to 288
Data columns (total 2 columns):
GEO.id    289 non-null object
Id        289 non-null object
dtypes: object(2)
memory usage: 4.6+ KB

In [3]:
# load data
df = pd.read_csv( '../data/2010/age-groups-and-sex-census-DEC_10_SF1_QTP1/DEC_10_SF1_QTP1_with_ann.csv' , low_memory=False )

In [31]:
df.describe()

,GEO.id,GEO.id2,GEO.display-label,SUBHD0101_S01,SUBHD0102_S01,SUBHD0103_S01,SUBHD0201_S01,SUBHD0202_S01,SUBHD0203_S01,HD03_S01,...,SUBHD0202_S40,SUBHD0203_S40,HD03_S40,SUBHD0101_S41,SUBHD0102_S41,SUBHD0103_S41,SUBHD0201_S41,SUBHD0202_S41,SUBHD0203_S41,HD03_S41
count,33121,33121,33121,33121,33121,33121,33121,33121,33121,33121,...,33121,33121,33121,33121,33121,33121,33121,33121,33121,33121
unique,33121,33121,33121,15428,11768,11957,3,3,3,1358,...,320,361,1189,547,540,553,2,2,2,2
top,8600000US16365,60070,ZCTA5 90712,0,0,0,100.0,100.0,100.0,100.0,...,4.8,0.0,100.0,41.8,40.5,43.5,( X ),( X ),( X ),( X )
freq,1,1,1,144,152,157,32976,32968,32963,431,...,633,552,1000,286,331,328,33120,33120,33120,33120

In [44]:
df[:6]

,GEO.id,GEO.id2,GEO.display-label,SUBHD0101_S01,SUBHD0102_S01,SUBHD0103_S01,SUBHD0201_S01,SUBHD0202_S01,SUBHD0203_S01,HD03_S01,...,SUBHD0202_S40,SUBHD0203_S40,HD03_S40,SUBHD0101_S41,SUBHD0102_S41,SUBHD0103_S41,SUBHD0201_S41,SUBHD0202_S41,SUBHD0203_S41,HD03_S41
0,Id,Id2,Geography,Number - Both sexes; Total population,Number - Male; Total population,Number - Female; Total population,Percent - Both sexes; Total population,Percent - Male; Total population,Percent - Female; Total population,Males per 100 females; Total population,...,Percent - Male; Total population - 75 years an...,Percent - Female; Total population - 75 years ...,Males per 100 females; Total population - 75 y...,Number - Both sexes; Total population - Median...,Number - Male; Total population - Median age (...,Number - Female; Total population - Median age...,Percent - Both sexes; Total population - Media...,Percent - Male; Total population - Median age ...,Percent - Female; Total population - Median ag...,Males per 100 females; Total population - Medi...
1,8600000US00601,00601,ZCTA5 00601,18570,9078,9492,100.0,100.0,100.0,95.6,...,5.0,5.9,81.4,35.9,34.5,37.1,( X ),( X ),( X ),( X )
2,8600000US00602,00602,ZCTA5 00602,41520,20396,21124,100.0,100.0,100.0,96.6,...,4.2,5.2,77.4,37.5,36.6,38.5,( X ),( X ),( X ),( X )
3,8600000US00603,00603,ZCTA5 00603,54689,26597,28092,100.0,100.0,100.0,94.7,...,5.5,7.1,73.4,38.2,36.6,39.8,( X ),( X ),( X ),( X )
4,8600000US00606,00606,ZCTA5 00606,6615,3268,3347,100.0,100.0,100.0,97.6,...,5.2,5.3,96.6,36.2,35.7,36.6,( X ),( X ),( X ),( X )
5,8600000US00610,00610,ZCTA5 00610,29016,14104,14912,100.0,100.0,100.0,94.6,...,4.9,5.9,79.0,38.1,36.3,39.5,( X ),( X ),( X ),( X )

In [34]:
# df['GEO.display-label']
df['GEO.id']

0                    Id
1        8600000US00601
2        8600000US00602
3        8600000US00603
4        8600000US00606
5        8600000US00610
6        8600000US00612
7        8600000US00616
8        8600000US00617
9        8600000US00622
10       8600000US00623
11       8600000US00624
12       8600000US00627
13       8600000US00631
14       8600000US00637
15       8600000US00638
16       8600000US00641
17       8600000US00646
18       8600000US00647
19       8600000US00650
20       8600000US00652
21       8600000US00653
22       8600000US00656
23       8600000US00659
24       8600000US00660
25       8600000US00662
26       8600000US00664
27       8600000US00667
28       8600000US00669
29       8600000US00670
              ...
33091    8600000US99786
33092    8600000US99788
33093    8600000US99789
33094    8600000US99790
33095    8600000US99791
33096    8600000US99801
33097    8600000US99820
33098    8600000US99824
33099    8600000US99825
33100    8600000US99826
33101    8600000US99827
33102    8600000US99829
33103    8600000US99830
33104    8600000US99832
33105    8600000US99833
33106    8600000US99835
33107    8600000US99836
33108    8600000US99840
33109    8600000US99841
33110    8600000US99901
33111    8600000US99903
33112    8600000US99918
33113    8600000US99919
33114    8600000US99921
33115    8600000US99922
33116    8600000US99923
33117    8600000US99925
33118    8600000US99926
33119    8600000US99927
33120    8600000US99929
Name: GEO.id, Length: 33121, dtype: object

In [6]:
metadata

                GEO.id                                                 Id
0              GEO.id2                                                Id2
1    GEO.display-label                                          Geography
2        SUBHD0101_S01              Number - Both sexes; Total population
3        SUBHD0102_S01                    Number - Male; Total population
4        SUBHD0103_S01                  Number - Female; Total population
5        SUBHD0201_S01             Percent - Both sexes; Total population
6        SUBHD0202_S01                   Percent - Male; Total population
7        SUBHD0203_S01                 Percent - Female; Total population
8             HD03_S01            Males per 100 females; Total population
9        SUBHD0101_S02  Number - Both sexes; Total population - Under ...
10       SUBHD0102_S02    Number - Male; Total population - Under 5 years
11       SUBHD0103_S02  Number - Female; Total population - Under 5 years
12       SUBHD0201_S02  Percent - Both sexes; Total population - Under...
13       SUBHD0202_S02   Percent - Male; Total population - Under 5 years
14       SUBHD0203_S02  Percent - Female; Total population - Under 5 y...
15            HD03_S02  Males per 100 females; Total population - Unde...
16       SUBHD0101_S03  Number - Both sexes; Total population - 5 to 9...
17       SUBHD0102_S03     Number - Male; Total population - 5 to 9 years
18       SUBHD0103_S03   Number - Female; Total population - 5 to 9 years
19       SUBHD0201_S03  Percent - Both sexes; Total population - 5 to ...
20       SUBHD0202_S03    Percent - Male; Total population - 5 to 9 years
21       SUBHD0203_S03  Percent - Female; Total population - 5 to 9 years
22            HD03_S03  Males per 100 females; Total population - 5 to...
23       SUBHD0101_S04  Number - Both sexes; Total population - 10 to ...
24       SUBHD0102_S04   Number - Male; Total population - 10 to 14 years
25       SUBHD0103_S04  Number - Female; Total population - 10 to 14 y...
26       SUBHD0201_S04  Percent - Both sexes; Total population - 10 to...
27       SUBHD0202_S04  Percent - Male; Total population - 10 to 14 years
28       SUBHD0203_S04  Percent - Female; Total population - 10 to 14 ...
29            HD03_S04  Males per 100 females; Total population - 10 t...
..                 ...                                                ...
259      SUBHD0203_S37  Percent - Female; Total population - 60 years ...
260           HD03_S37  Males per 100 females; Total population - 60 y...
261      SUBHD0101_S38  Number - Both sexes; Total population - 62 yea...
262      SUBHD0102_S38  Number - Male; Total population - 62 years and...
263      SUBHD0103_S38  Number - Female; Total population - 62 years a...
264      SUBHD0201_S38  Percent - Both sexes; Total population - 62 ye...
265      SUBHD0202_S38  Percent - Male; Total population - 62 years an...
266      SUBHD0203_S38  Percent - Female; Total population - 62 years ...
267           HD03_S38  Males per 100 females; Total population - 62 y...
268      SUBHD0101_S39  Number - Both sexes; Total population - 67 yea...
269      SUBHD0102_S39  Number - Male; Total population - 67 years and...
270      SUBHD0103_S39  Number - Female; Total population - 67 years a...
271      SUBHD0201_S39  Percent - Both sexes; Total population - 67 ye...
272      SUBHD0202_S39  Percent - Male; Total population - 67 years an...
273      SUBHD0203_S39  Percent - Female; Total population - 67 years ...
274           HD03_S39  Males per 100 females; Total population - 67 y...
275      SUBHD0101_S40  Number - Both sexes; Total population - 75 yea...
276      SUBHD0102_S40  Number - Male; Total population - 75 years and...
277      SUBHD0103_S40  Number - Female; Total population - 75 years a...
278      SUBHD0201_S40  Percent - Both sexes; Total population - 75 ye...
279      SUBHD0202_S40  Percent - Male; Total population - 75 years an...
280      SUBHD0203_S40  Percent - Female; Total population - 75 years ...
281           HD03_S40  Males per 100 females; Total population - 75 y...
282      SUBHD0101_S41  Number - Both sexes; Total population - Median...
283      SUBHD0102_S41  Number - Male; Total population - Median age (...
284      SUBHD0103_S41  Number - Female; Total population - Median age...
285      SUBHD0201_S41  Percent - Both sexes; Total population - Media...
286      SUBHD0202_S41  Percent - Male; Total population - Median age ...
287      SUBHD0203_S41  Percent - Female; Total population - Median ag...
288           HD03_S41  Males per 100 females; Total population - Medi...

[289 rows x 2 columns]